<header class=" sm:h-64 lg:h-[16.2rem] bg-header-mobile sm:bg-header-desktop bg-cover sm:pt-[4.2rem] lg:pt-[4.5rem]">
  <div class=" sm:w-tc lg:w-ct mx-auto flex justify-between">
    <img src="assets/desktop/logo.svg" alt="logo" class=" h-3.2 w-[11.5rem]">
    <div class="w-[11.2rem] h-2.4 flex items-center justify-center">
      <img src="assets/desktop/icon-sun.svg" class="w-8 h-7" alt="light">
      <div class="toggle flex mx-1.6 h-full">
        <input type="checkbox" [formControl]="toggleCtrl" name="switch" id="switch" class=" h-0 w-0 invisible absolute">
        <label for="switch" class="w-4.8 h-full bg-white p-2 rounded-[1.2rem] relative cursor-pointer"></label>
      </div>
      <img src="assets/desktop/icon-moon.svg" class="w-1.2 h-1.2" alt="dark">
    </div>
  </div>
</header>
