<form [formGroup]="filterForm" (ngSubmit)="search()">
  <div  class=" sm:flex bg-white dark:bg-blue-vdark rounded-0.6 h-32 hidden">
    <div class=" lg:w-[46.4rem] sm:w-[22.3rem] border-r border-r-grey-dark/20 lg:px-3.2 sm:px-2.4 flex items-center">
      <img src="assets/desktop/icon-search.svg" alt="search" class=" h-2.4 w-auto">
      <input
      formControlName="search"
      type="text"
      placeholder="Filter by title, companies, expertise…"
      class=" w-full bg-transparent caret-violet ml-1.6 flex-1 border-0 focus:ring-offset-0 focus:ring-transparent text-blue-vdark dark:text-white text-md leading-ms cursor-pointer hidden lg:block">
      <input
        formControlName="search"
        type="text"
        placeholder="Filter by title…"
        class=" w-full bg-transparent caret-violet ml-1.6 flex-1 border-0 focus:ring-offset-0 focus:ring-transparent text-blue-vdark dark:text-white text-md leading-ms cursor-pointer lg:hidden">
    </div>
    <div class=" lg:w-[30.1rem] sm:w-[21.4rem] px-[2.3rem]  border-r border-r-grey-dark/20  flex items-center">
      <img src="assets/desktop/icon-location.svg" alt="location"  class=" h-2.4 w-auto">
      <input
      formControlName="location"
      type="text"
      placeholder="Filter by location…"
      class=" w-full bg-transparent caret-violet ml-1.6 flex-1 border-0 focus:ring-offset-0 focus:ring-transparent text-blue-vdark dark:text-white text-md leading-ms cursor-pointer">
    </div>
    <div class=" lg:flex-1 sm:w-[25.2rem] pl-8 lg:pl-3.2 pr-1.6  flex items-center">
      <input
      formControlName="fullTime"
      [checked]="false"
      type="checkbox"
      class="rounded checked:text-violet focus:ring-offset-0 focus:ring-transparent border-0 cursor-pointer bg-blue-vdark/10 dark:bg-white/10 h-2.4 w-2.4 " />
      <span class=" font-bold text-blue-vdark dark:text-white text-md leading-ms ml-1.6 mr-10">Full Time <span class=" hidden lg:inline-block">Only</span> </span>
      <button class=" btn-primary w-32 lg:w-[12.3rem]">Search</button>
    </div>
  </div>
  <div class=" flex sm:hidden bg-white dark:bg-blue-vdark rounded-0.6 h-32 items-center pl-2.4 pr-1.6">
    <input
      formControlName="search"
      type="text"
      placeholder="Filter by title…"
      class=" p-0 w-2/3 bg-transparent caret-violet border-0 focus:ring-offset-0 focus:ring-transparent text-blue-vdark dark:text-white text-md leading-ms cursor-pointer">
    <button type="button" (click)="openFilter()" class=" w-8 ml-auto">
      <img src="assets/mobile/icon-filter.svg" alt="filter">
    </button>
    <button (click)="search()" class=" btn-primary w-4.8 ml-2.4">
      <img src="assets/mobile/icon-search.svg" alt="search">
    </button>
  </div>
</form>

